<div class="row" style="margin-top:20px;">
    <a asp-action="Index"  class="btn btn-sm btn-default"><i class="fa fa-arrow-left"></i> Regresar</a>
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Guardar</button>
</div>