@model IEnumerable<Personas>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<br />

<div class="ibox float-e-margins" id="ibox-create">
    <div class="ibox-title my-ibox">
        <h5>Lista de Personas</h5>
    </div>
    <div class="ibox-content">
        <div class="form-group  row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                <a asp-action="Nuevo" type="button" class="btn btn-w-m btn-success btn-lg"><i class="fa fa-plus"></i> &nbsp; Nueva Persona</a>
            </div>
        </div>
        <div class="hr-line-dashed"></div>


        <div class="table-responsive">
           
            <table class="table table-bordered table-striped table-hover dataTables-example">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre completo</th>
                        <th>Email</th>

                    </tr>
                </thead>


                <tr>
                    <td style="text-align:center" class="client-avatar"><img alt="image" src="~/img/a2.png"> </td>
                    <td><a asp-action="Detalle"  class="client-link">Julio Cesar Vidaña</a></td>
                    <td>julio.vidana@gmail.com</td>
                </tr>
                <tr>
                    <td style="text-align:center" class="client-avatar"><img alt="image" src="~/img/a3.png"> </td>
                    <td>Anali Pazos Trujillo</td>
                    <td>analia@gmail.com</td>
                </tr>

            </table>
           
                @*<p> No Hay Datos....</p>*@
            
        </div>

    </div>
</div>


<script>


    $(function () {

         $('.dataTables-example').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron registros",
                    "infoFiltered": "(Filtrado de _MAX_ total de registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                },
                stateSave: true,
                destroy: true,
                pageLength: 10,
                responsive: true,

            });




        $('.delete').on('click', function (e, data) {
            if (!data) {
                handleDelete(e, 1);
            } else {
                window.location = $(this).attr('href');
            }
        });


    });

    function handleDelete(e, stop) {
        if (stop) {
            e.preventDefault();
            swal({
                title: "¿Desea Continuar?",
                text: "¡Se borrará el registro!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si, Continuar",
                cancelButtonText: "No, Cancelar",
                closeOnConfirm: false
            },
                function (isConfirm) {
                   // alert(e.target);
                if (isConfirm) {
                    $(e.target).trigger('click', {});
                }
            });
        }
    };
</script>